<form class="form-inline">
  <div class="form-group mb-2">
    Name: <input type="text" class="form-control mr-2" />    
    <button class="btn btn-outline-success">Search</button>
  </div>
  
</form>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Classification</th>
      <th>Name</th>
      <th>Phone</th>  
      <th>Gender</th>
      <th>City</th>
      <th>Region</th>
      <th>Last Purchase</th>
      <th>Seller</th>
    </tr>
  </thead>
  <tbody *ngIf="filteredCustomers && filteredCustomers.length">
    <tr *ngFor="let cust of filteredCustomers">
      <td>{{cust.classification.name}}</td>
      <td>{{cust.name}}</td>
      <td>{{cust.phone}}</td>
      <td>{{cust.gender.name}}</td>
      <td>{{cust.city.name}}</td>
      <td>{{cust.region.name}}</td>
      <td>{{cust.lastPurchase}}</td>
      <td>{{cust.user.login}}</td>
    </tr>
  </tbody>
</table>
