<form [formGroup]="filterForm" >
  <div class="row">
    <div class="form-group col-md-4">
      <label>Name: </label> 
      <input class="form-control" formControlName="searchText" type="text" />
    </div>
    <div class="form-group col-md-4">
      <label>Gender:</label>
      <select class="form-control" formControlName="genderId">
        <option role="menuitem" *ngFor="let t of genders" [ngValue]="t.id">
          <a class="dropdown-item">{{ t.name }}</a>
        </option>
      </select>
    </div>
  </div>
    

  <div class="row">
    <div class="form-group col-md-4">
      <label>City:</label>
      <select (change)='onCitySelected()' class="form-control" id="cityId" formControlName="cityId" >
        <option   role="menuitem" *ngFor="let t of cities" [ngValue]="t.id">
          <a class="dropdown-item">{{ t.name }}</a>
        </option>
      </select>
    </div>
      <div class="form-group col-md-4">
        <label>Region:</label>
        <select class="form-control" formControlName="regionId">
          <option  role="menuitem" *ngFor="let t of regions" [ngValue]="t.id">
            <a class="dropdown-item">{{ t.name }}</a>
          </option>
        </select>
      </div>
    </div>          

  
    <div class="button-group col-xs-8 col-sm-8 col-md-2" style="float:right;">
      <button (click)="searchCustomer()" type="submit" class="btn btn-success btn-block">Search</button>
      <button class="btn btn-outline-success btn-block" (click)="filterForm.reset()">Clear Fields</button>
    </div>
  
  <div *ngIf="isUserAdmin" class="row">
    <div class="form-group col-md-4">
      <label>Last Purchase:</label>      
      <input formControlName="stDate" type="text" placeholder="" class="form-control" bsDatepicker>     
    </div>
    <div class="form-group col-md-4">
      <label>Until:</label>        
      <input formControlName="edDate" type="text" placeholder="" class="form-control"  bsDatepicker>        
      </div>    
  </div>
 
  <div *ngIf="isUserAdmin" class="row">
    <div class="form-group col-md-4">
      <label>Classification:</label>
      <select class="form-control" formControlName="classificationId">
        <option role="menuitem" *ngFor="let t of classifications" [ngValue]="t.id">
          <a class="dropdown-item">{{ t.name }}</a>
        </option>
      </select>    
    </div>
    <div class="form-group col-md-4">
        <label>Seller:</label>
        <select class="form-control"  formControlName="sellerId">
          <option role="menuitem" *ngFor="let t of sellers" [ngValue]="t.id">
            <a class="dropdown-item">{{ t.login }}</a>
          </option>
        </select>
      </div>    
  </div> 
  
  
</form>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Classification</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>City</th>
      <th>Region</th>
      <th >Last Purchase</th>
      <th *ngIf="isUserAdmin" >Seller</th>
    </tr>
  </thead>
  <tbody *ngIf="filteredCustomers && filteredCustomers.length">
    <tr *ngFor="let cust of filteredCustomers">
      <td>{{ cust.classification.name }}</td>
      <td>{{ cust.name }}</td>
      <td>{{ cust.phone }}</td>
      <td>{{ cust.gender.name }}</td>
      <td>{{ cust.city.name }}</td>
      <td>{{ cust.region.name }}</td>
      <td>{{ cust.lastPurchase }}</td>
      <td *ngIf="isUserAdmin">{{ cust.user.login }}</td>
    </tr>
  </tbody>
</table>
  