<form>
  <div class="row">
    <div class="form-group col-md-4">
      <label>Name: </label> <input type="text" class="form-control mr-2" />
    </div>
    <div class="form-group col-md-4">
      <label>Gender:</label>
      <select>
        <option role="menuitem" *ngFor="let t of genders">
          <a class="dropdown-item">{{ t.name }}</a>
        </option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <button class="btn btn-outline-success">Search</button>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label>City:</label>
      <select>
        <option role="menuitem" *ngFor="let t of cities">
          <a class="dropdown-item">{{ t.name }}</a>
        </option>
      </select>
    </div>
      <div class="form-group col-md-4">
        <label>Region:</label>
        <select>
          <option role="menuitem" *ngFor="let t of regions">
            <a class="dropdown-item">{{ t.name }}</a>
          </option>
        </select>
      </div>    
      <div class="form-group col-md-4">
        <button class="btn btn-outline-success">Clear Fields</button>
      </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label>Last Purchase:</label>
      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text" placeholder="" class="form-control" bsDatepicker>
      </div>
    </div>
      <div class="form-group col-md-6">
        <label>Until:</label>
        <div class="col-xs-12 col-12 col-md-4 form-group">
          <input type="text" placeholder="" class="form-control" bsDatepicker>
        </div>
      </div>    
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label>Classification:</label>
      <select>
        <option role="menuitem" *ngFor="let t of classifications">
          <a class="dropdown-item">{{ t.name }}</a>
        </option>
      </select>
    </div>
      <div class="form-group col-md-6">
        <label>Seller:</label>
        <select>
          <option role="menuitem" *ngFor="let t of sellers">
            <a class="dropdown-item">{{ t.login }}</a>
          </option>
        </select>
      </div>    
  </div>
  
</form>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Classification</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Gender</th>
      <th>City</th>
      <th>Region</th>
      <th>Last Purchase</th>
      <th>Seller</th>
    </tr>
  </thead>
  <tbody *ngIf="filteredCustomers && filteredCustomers.length">
    <tr *ngFor="let cust of filteredCustomers">
      <td>{{ cust.classification.name }}</td>
      <td>{{ cust.name }}</td>
      <td>{{ cust.phone }}</td>
      <td>{{ cust.gender.name }}</td>
      <td>{{ cust.city.name }}</td>
      <td>{{ cust.region.name }}</td>
      <td>{{ cust.lastPurchase }}</td>
      <td>{{ cust.user.login }}</td>
    </tr>
  </tbody>
</table>
