
  .elemento{
    background-color: orange;
    width: 200px;
    height: 100px;
    margin: 15px;
    padding: 25px;
    text-align: center;
    border: 5px solid blue;
    
  }
  
  .secao{
    background-color: red;
    margin: 50px;
    text-align: center;
    padding: 20px;
  }

  .pai{
      display: block;
  }
  
  