.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 15% auto;    
}

#formSign{
    border-style: solid;
    width: 600px;
    height: 200px;
    box-sizing: border-box;
}

.input-error {
    border: red 1px solid;
}