

<body class="text-center" >
  <div class="form-signin">
  <form  class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
    <div id="formContent">
      <input type="email" id="username" class="form-control"
      name="email" [(ngModel)]="model.email" placeholder="Email" [ngClass]="{'ng-invalid':!validUser}" >        
      <input type="password" id="password" class="form-control" 
      name="password" [(ngModel)]="model.password" placeholder="Password" [ngClass]="{'ng-invalid':!validUser}">      
      <button   class="btn btn-lg btn-primary btn-block" type="submit" >Login</button>  
      
    </div>  
  </form>  
</div>
</body>
