

<body class="text-center" >
  <div class="form-signin">
  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
    <div id="formContent">
      <input type="email" id="username" class="form-control"
      name="email" required [(ngModel)]="model.email" placeholder="Email">        
      <input type="password" id="password" class="form-control" 
      name="password" required [(ngModel)]="model.password" placeholder="Password">    
      <button  class="btn btn-lg btn-primary btn-block" type="submit" [ngClass]="{'border-color: red': !loginForm.valid}" >Login</button>        
    </div>  
  </form>  
</div>
</body>
